@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  .motion-section {
    will-change: auto !important;
    transform: none !important;
    opacity: 1 !important;
  }
}
.navbar-fixed{
  @apply fixed z-50 bg-white/80 dark:bg-black/80;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.dot-active > span:nth-child(1){
  @apply rotate-45 
}

.dot-active > span:nth-child(2){
  @apply scale-0 
}
.dot-active > span:nth-child(3){
  @apply -rotate-45 
}



/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
